In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from pymongo import mongo_client

In [6]:
df = pd.read_csv('C:/Amit/Data science/Projects/solar-energy-generation-prediction/solar.csv')

In [7]:
df.head()

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2019-01-01 00:00:00,12.5,6.9,0.21,1005,121,1.0,0,0,0,0,0.258,1,173.92,1.4,68.82
1,2019-01-01 00:10:00,12.3,6.9,0.21,1005,122,1.0,0,0,0,0,0.258,1,171.79,1.3,69.73
2,2019-01-01 00:20:00,12.1,6.9,0.21,1005,124,1.0,0,0,0,0,0.258,1,169.59,1.3,70.65
3,2019-01-01 00:30:00,12.0,6.9,0.21,1005,125,1.0,0,0,0,0,0.258,1,167.37,1.3,71.11
4,2019-01-01 00:40:00,11.8,6.9,0.21,1005,126,1.0,0,0,0,0,0.258,1,165.13,1.3,71.91

In [13]:
df.isnull().sum()

Timestamp             0
Temperature           0
Dew Point             0
Surface Albedo        0
Pressure              0
Wind Direction        0
Wind Speed            0
Clearsky DHI          0
Clearsky DNI          0
Clearsky GHI          0
Fill Flag             0
Ozone                 0
Cloud Type            0
Solar Zenith Angle    0
Precipitable Water    0
Relative Humidity     0
dtype: int64

In [14]:
df.columns

Index(['Timestamp', 'Temperature', 'Dew Point', 'Surface Albedo', 'Pressure',
       'Wind Direction', 'Wind Speed', 'Clearsky DHI', 'Clearsky DNI',
       'Clearsky GHI', 'Fill Flag', 'Ozone', 'Cloud Type',
       'Solar Zenith Angle', 'Precipitable Water', 'Relative Humidity'],
      dtype='object')

In [1]:
from pymongo import MongoClient

# Connect to MongoDB
client = MongoClient('mongodb+srv://amitedke:amitedke@cluster0.ubfttxy.mongodb.net/test')

# Access a database and collection
db = client['renew']
collection = db['solar']

# Try to access elements of the client object as if it were a dictionary
# This will result in a TypeError: 'MongodbClient' object is not subscriptable
client['mydb']  # or client['mycollection']

Database(MongoClient(host=['ac-gsujeie-shard-00-02.ubfttxy.mongodb.net:27017', 'ac-gsujeie-shard-00-00.ubfttxy.mongodb.net:27017', 'ac-gsujeie-shard-00-01.ubfttxy.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-3lzan2-shard-0', tls=True), 'mydb')

In [7]:
data = collection.find()

In [9]:
data = pd.DataFrame(data)

In [11]:
data.columns

Index(['_id', 'Timestamp', 'Temperature', 'Dew Point', 'Surface Albedo',
       'Pressure', 'Wind Direction', 'Wind Speed', 'Clearsky DHI',
       'Clearsky DNI', 'Clearsky GHI', 'Fill Flag', 'Ozone', 'Cloud Type',
       'Solar Zenith Angle', 'Precipitable Water', 'Relative Humidity'],
      dtype='object')

In [12]:
data.drop(['_id'],axis=1)

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2019-01-01 00:10:00,12.3,6.9,0.21,1005,122,1.0,0,0,0,0,0.258,1,171.79,1.3,69.73
1,2019-01-01 00:20:00,12.1,6.9,0.21,1005,124,1.0,0,0,0,0,0.258,1,169.59,1.3,70.65
2,2019-01-01 00:30:00,12.0,6.9,0.21,1005,125,1.0,0,0,0,0,0.258,1,167.37,1.3,71.11
3,2019-01-01 00:40:00,11.8,6.9,0.21,1005,126,1.0,0,0,0,0,0.258,1,165.13,1.3,71.91
4,2019-01-01 00:50:00,11.6,6.9,0.21,1005,128,1.0,0,0,0,0,0.258,1,162.89,1.3,72.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210235,2022-12-31 20:00:00,8.5,6.8,0.21,1010,43,1.1,0,0,0,0,0.277,7,131.24,1.4,89.13
210236,2022-12-31 21:00:00,7.8,6.5,0.21,1010,44,1.2,0,0,0,0,0.277,7,144.67,1.5,91.42
210237,2022-12-31 21:50:00,7.4,6.1,0.21,1009,48,1.2,0,0,0,0,0.278,7,155.94,1.6,91.66
210238,2022-12-31 22:10:00,7.2,6.1,0.21,1009,49,1.2,0,0,0,0,0.278,3,160.45,1.6,92.92
210239,2022-12-31 23:40:00,6.8,5.6,0.21,1009,55,1.1,0,0,0,0,0.279,7,177.36,1.8,91.95

In [14]:
from pymongo import MongoClient
client = MongoClient('mongodb+srv://amitedke:amitedke@cluster0.ubfttxy.mongodb.net/test')
db = client['renew']
collection = db['solar']

In [23]:

def get_requird_data_from_mongodb(database_name : str,collection_name : str)->pd.DataFrame:
    data = collection.find()
    data = pd.DataFrame(data)
    if "_id" in data.columns.to_list():
        data.drop(['_id'],axis=1)
    
    return data

In [26]:
import os

In [24]:
a= get_requird_data_from_mongodb(database_name='renew',collection_name='solar')

In [45]:
def save_csv_file(data:pd.DataFrame,file_path:str,file_name:str):
    if not os.path.exists(file_path):
        os.makedirs(file_path)
    csv_file_path = os.path.join(file_path,file_name)
    data.to_csv(csv_file_path,index=False)

In [31]:
b = save_csv_file(data=a,file_path='example',file_name='data.csv')

In [2]:
class SolarData:
    def __init__(self):
        self.mongodb_client = MongoClient('mongodb+srv://amitedke:amitedke@cluster0.ubfttxy.mongodb.net/test')
        self.db = client['renew']
        self.collection = db['solar']
    
    def get_requird_data_from_mongodb(database_name : str = 'renew',collection_name : str = 'solar')->pd.DataFrame:
        data = collection.find()
        data = pd.DataFrame(data)
        if "_id" in data.columns.to_list():
           data.drop(['_id'],axis=1)
    
        return data

NameError: name 'pd' is not defined

In [62]:
get_data = SolarData()

In [64]:
df = get_data.get_requird_data_from_mongodb()

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Amit/Data science/Projects/solar-energy-generation-prediction/feature_store/raw_data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210240 entries, 0 to 210239
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id                 210240 non-null  object
 1   Timestamp           210240 non-null  object
 2   Temperature         210240 non-null  float64
 3   Dew Point           210240 non-null  float64
 4   Surface Albedo      210240 non-null  float64
 5   Pressure            210240 non-null  int64
 6   Wind Direction      210240 non-null  int64
 7   Wind Speed          210240 non-null  float64
 8   Clearsky DHI        210240 non-null  int64
 9   Clearsky DNI        210240 non-null  int64
 10  Clearsky GHI        210240 non-null  int64
 11  Fill Flag           210240 non-null  int64
 12  Ozone               210240 non-null  float64
 13  Cloud Type          210240 non-null  int64
 14  Solar Zenith Angle  210240 non-null  float64
 15  Precipitable Water  210240 non-null  float64
 16  Relative Humidity   210240 non-null  float64
dtypes: float64(8), int64(7), object(2)
memory usage: 27.3+ MB

ModuleNotFoundError: No module named 'renew'

In [1]:
from scipy.stats import ks_2samp

In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv("C:/Amit/Data science/Projects/solar-energy-generation-prediction/artifact/04_23_2023_15_09_12/data_ingestion/ingested/test.csv")
df2 = pd.read_csv("C:/Amit/Data science/Projects/solar-energy-generation-prediction/artifact/04_23_2023_15_09_12/data_ingestion/ingested/test.csv")

In [5]:
c1 = df1["Clearsky DHI"]
c2 = df2["Clearsky GHI"]

In [7]:
a=ks_2samp(c1,c2)

In [9]:
a[0]

0.3007039573820396

In [13]:

def read_data(file_path: str)-> pd.DataFrame:
    df = pd.read_csv(file_path)
    return df

In [16]:
a = "C:/Amit/Data science/Projects/solar-energy-generation-prediction/artifact/04_23_2023_15_09_12/data_ingestion/ingested/test.csv"

In [17]:
read_data(a)

,Timestamp,Temperature,Dew Point,Surface Albedo,Pressure,Wind Direction,Wind Speed,Clearsky DHI,Clearsky DNI,Clearsky GHI,Fill Flag,Ozone,Cloud Type,Solar Zenith Angle,Precipitable Water,Relative Humidity
0,2019-01-21 08:40:00,15.5,0.4,0.19,1010,283,2.7,171,502,394,3,0.271,3,63.64,1.0,35.69
1,2022-06-10 18:00:00,40.4,7.2,0.25,983,324,1.2,21,18,22,0,0.290,0,86.05,2.2,13.45
2,2019-10-04 00:50:00,27.6,24.6,0.18,995,182,0.4,0,0,0,0,0.269,0,149.99,5.7,83.53
3,2019-09-24 03:20:00,24.9,24.9,0.20,992,87,1.0,0,0,0,0,0.269,4,118.03,6.2,100.00
4,2020-05-05 23:30:00,31.8,1.9,0.23,995,176,1.2,0,0,0,0,0.298,0,138.06,2.0,14.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42043,2022-02-01 23:50:00,14.2,0.1,0.20,1005,98,1.2,0,0,0,0,0.243,1,171.48,1.2,38.05
42044,2019-10-10 07:20:00,24.5,22.0,0.19,996,259,2.1,179,301,300,0,0.269,0,66.38,2.8,86.03
42045,2019-05-13 12:40:00,43.3,12.1,0.23,990,316,4.0,343,576,891,0,0.281,0,17.93,3.9,16.06
42046,2021-04-20 23:10:00,29.2,8.9,0.24,992,32,1.1,0,0,0,0,0.283,3,142.48,2.0,28.06
42047,2022-03-04 01:40:00,15.6,11.7,0.20,997,27,0.9,0,0,0,0,0.251,1,146.58,2.2,77.46

In [3]:
import numpy as np
a = np.array[1,2,3]
b = np.array[4,5,6]
c = np.concatenate((a,b))

TypeError: 'builtin_function_or_method' object is not subscriptable

In [6]:
import numpy as np

# create two arrays
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])

# concatenate the arrays
c = np.concatenate(a, b)

TypeError: only integer scalar arrays can be converted to a scalar index

In [5]:
c

array([1, 2, 3, 4, 5, 6])